
.Contact {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ContactBox {
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.InfoBox {
    height: 80%;
    width: 50%;
    background-image: linear-gradient(99deg, rgb(28, 85, 107), rgb(72, 108, 131) 40%, rgb(29, 81, 102));
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
      0 10px 10px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.InfoTitle {
    height: 25%;
    width: 80%;
    font-size: 4vh;
    font-family: "Permanent Marker", cursive;
    
}

.BandInfo {
    height: 40%;
    width: 80%;
    
}

.ContactInfo {
    height: 40%;
    width: 80%;
}

.BandPicTwo {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.BandTwo {
    height: 90%;
    width: auto;
    border: solid rgb(28, 85, 107);
}

@media(max-width: 800px) {
    .InfoBox {
        width: 80%;
        
    }
}