.Landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Title {
  height: 20vh;
  font-size: 65px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
}

.BoxOne {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.PicBox {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  /* margin-right: 10vh; */
}

.BandPic {
  height: 100%;
  width: auto;
  border-radius: 5%;
  display: flex;
  justify-content: flex-end;
  border: solid rgb(25, 95, 121);

}



.BoxTwo {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VidBox {
  height: 100%;
  /* width: 50vh; */
  display: flex;
  align-items: center;
}

.BoxThree {
    height: 80vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.MerchTitle {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-family: "Permanent Marker", cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: underline; color: white;
}

.NewAlbum {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "Permanent Marker", cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: underline; color: white;
    text-align: center;
}

.MerchBox {
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  
}

.Poster {
  height: 40vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid rgb(25, 95, 121);
  flex-direction: column;

}

.Shirt {
  height: 40vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid rgb(25, 95, 121);
}

.Pizza {
  height: 40vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid rgb(25, 95, 121);

}

.LoopLogo {
  height: 70%;
  width: auto;
}

.LoopShirt {
  height: 70%;
  width: auto;

}

.MerchLabels {
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.PosterLabel {
  width: 30vh;
  height: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: underline; color: white;
}

.ShirtLabel {
  width: 30vh;
  height: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: underline; color: white;
}

.PizzaLabel {
  width: 30vh;
  height: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: underline; color: white;
}

.ClickHere {
  font-size: 40px;
  font-family: "Permanent Marker", cursive;
}


.AdminButton {
  height: 45px;
  width: 80px;
  border-radius: 10%;
  background-image: linear-gradient(
    99deg,
    rgb(166, 203, 219),
    rgb(114, 158, 187) 40%,
    rgb(80, 144, 170)
  );
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; color: white;
  margin-bottom: 8vh;
  
  
}


@media(min-width: 800px) {
  .ClickHere {
    display: none;
  }
}

@media(max-width: 800px) {
  .Title {
    font-size: 40px;
  }
  .BoxOne {
    height: 75%;
  }
  .BandPic {
    width: 100%;
    /* transform: scale(1.5, 1); */
  }
  .VidBox {
    width: 85%;
  }
  .MerchTitle {
    font-size: 40px;
    color: orange;
  }
  .NewAlbum {
    font-size: 20px;
  }
  .BoxThree {
    width: 85%;
  }
  .MerchBox {
    display: none;
  }
  .MerchLabels {
    display: none;
  }

}

