.Merch {
  height: 125vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.MerchTitle {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 65px;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: underline; color: white;
  text-shadow: 2px 2px rgb(12, 43, 78);
}

.ProductContainer {
    height: 75%;
    width: 50%;
    background-image: linear-gradient(99deg, rgb(28, 85, 107), rgb(72, 108, 131) 40%, rgb(29, 81, 102));
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
      0 20px 40px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.ProductBox {
  height: 25%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2vh; */
}

.ProductPic {
  height: 100%;
  width: 35%;
  border: solid;
}

.ProductPic img {
  width: 100%;
  height: 100%;

}

.DescriptionBox {
  height: 100%;
  width: 50%;
  border: solid;
  font-family: 'Roboto', sans-serif;
  padding-left: 3%;
}

.ProdTitle {
  font-size: 15px;
}

.Continue {
  height: 45px;
  width: 200px;
  border-radius: 10%;
  background-image: linear-gradient(
    99deg,
    rgb(26, 158, 114),
    rgb(62, 190, 173) 40%,
    rgb(13, 105, 75)
  );
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; color: white;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
  0 5px 5px 0 rgba(0, 0, 0, 0.26);
  margin-top: 2vh;
  /* text-shadow: 2px 2px rgb(12, 43, 78); */
}

.Continue:hover {
  background: rgb(199, 199, 82);
  color: black;
  transition: 0.3s;
}

.Button {
  height: 45px;
  width: 80px;
  border-radius: 10%;
  background-image: linear-gradient(
    99deg,
    rgb(55, 93, 109),
    rgb(58, 102, 131) 40%,
    rgb(73, 118, 136)
  );
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; color: white;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
  0 5px 5px 0 rgba(0, 0, 0, 0.26);
  text-shadow: 1px 1px rgb(12, 43, 78);
}

.AddButton {
  height: 45px;
  width: 80px;
  border-radius: 10%;
  background-image: linear-gradient(
    99deg,
    rgb(166, 203, 219),
    rgb(114, 158, 187) 40%,
    rgb(80, 144, 170)
  );
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; color: white;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
  0 5px 5px 0 rgba(0, 0, 0, 0.26);
  margin-left: 1vh;
  /* text-shadow: 2px 2px rgb(12, 43, 78); */
}

@media (max-width: 800px) {
  .ProductContainer {
    width: 80%;
  }
}




