.Nav {
  height: 9vh;
  width: 100vw;
  background: gray;
  background-image: linear-gradient(
    99deg,
    rgb(56, 102, 121),
    rgb(114, 158, 187) 40%,
    rgb(29, 81, 102)
  );
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vh;
  padding-right: 4vh;
  box-sizing: border-box;
  /* position: fixed; */
}

.Logo {
  height: 70px;
  width: 70px;
  border-radius: 97%;
  /* margin-right: 50%; */
  /* margin-left: 8vh */
}

.NavLinks {
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

.Button {
  height: 45px;
  width: 80px;
  border-radius: 10%;
  background-image: linear-gradient(
    99deg,
    rgb(166, 203, 219),
    rgb(114, 158, 187) 40%,
    rgb(80, 144, 170)
  );
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; color: white;
}


.Button:hover {
  background: rgb(199, 199, 82);
  color: black;
  transition: 0.3s;
}

@media (min-width: 800px) {
  #hamburger-icon,
  .dropdown {
    display: none;
  }
  .Home {
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .NavLinks,
  .Cart {
    display: none;
  }
}

.dropdown {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 75px;
  right: 0;
  background: gray;
  background-image: linear-gradient(
    99deg,
    rgb(31, 69, 85),
    rgb(66, 98, 119) 40%,
    rgb(11, 46, 59)
  );
  width: 35%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-content: flex-start; */
  /* align-items: center; */
  border-bottom-left-radius: 6px;
  padding-left: 5%;
  font-family: "Permanent Marker", cursive;
}

.hide-animation {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.show-animation {
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}

@keyframes show {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}
